

{% load static %}
<!-- BREADCRUMB -->
<nav class="navbar-dark docs-breadcrumb">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col">

        <!-- Breadcrumb -->
        <ol class="breadcrumb breadcrumb-dark px-0 mb-0">
          <li class="breadcrumb-item">
            <a href="index.html">Docs</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Alerts
          </li>
        </ol>

      </div>
      <div class="col-auto">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#docsSidenav" aria-controls="docsSidenav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </div>
  </div>
</nav>



<div class="col-lg-3 col-xl-2 docs-sidenav docs-sidenav-left">

  <!-- Collapse -->
  <div class="collapse d-lg-block" id="docsSidenav">
    <div class="border-bottom border-bottom-lg-0 py-6 py-md-9 px-lg-8">

      <!-- Heading -->
      <h5 class="font-family-sans-serif mb-3">
        Website Builders
      </h5>

      <!-- List -->
      <ul class="list-unstyled font-size-xs text-muted mb-6">
        <li class="mb-2">
          <a class="text-reset" href="#l">WordPress</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">Oscommerce</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">Shopify</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">Wix</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">Square Space</a>
        </li>
      </ul>

     <!-- Heading -->
     <h5 class="font-family-sans-serif mb-3">
      Current tech
    </h5>

    <!-- List -->
    <ul class="list-unstyled font-size-xs text-muted mb-6">
      <li class="mb-2">
        <a class="text-reset" href="#">Mailchimp</a>
      </li>
      <li class="mb-2">
        <a class="text-reset" href="#">Google Analytics</a>
      </li>
      <li class="mb-2">
        <a class="text-reset" href="#">Hubspot</a>
      </li>
      <li class="mb-2">
        <a class="text-reset" href="#">Crazy Egg</a>
      </li>
      <li class="mb-2">
        <a class="text-reset" href="#">Otimizely</a>
      </li>
    </ul>

      <!-- Heading -->
      <h5 class="font-family-sans-serif mb-3">
        Problems
      </h5>

      <!-- List -->
      <ul class="list-unstyled font-size-xs text-muted mb-6">
        <li class="mb-2">
          <a class="text-reset" href="#">Slow Website</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#l">Not mobile responsive</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">No reviews</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">No video</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">No SSL security</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">No XML sitemap</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">No XML sitemap</a>
        </li>
        
      </ul>

      <!-- Heading -->
      <h5 class="font-family-sans-serif mb-3">
        No problems
      </h5>

      <!-- List -->
      <ul class="list-unstyled font-size-xs text-muted mb-6">
        <li class="mb-2">
          <a class="text-reset" href="#">Active Blogging</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">Active Facebook</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="#">Active Instagram</a>
        </li>
       
      </ul>

     
      </ul>

    </div>
  </div>


</div>
