{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libs CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flag-icon.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flickity.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flickity-fade.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vs2015.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jarallax.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/feather/fonts/feather.css' %}">

    <!-- Map -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

    <!-- 
      Theme Sans Serif CSS
      Remove the "disabled" attribute if you want to enable Sans Serif for headings.
    -->
    <link rel="stylesheet" href="{% static 'css/theme-sans-serif.min.css' %}" id="themeSansSerif" disabled>

    <!--
      Demo JS
      Remove the code below on a production website.
    -->
    <script src="{% static 'js/demo.min.js' %}"></script>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.min.css' %}"> 
  

    <title>ProbSpotter</title>

  </head>
 
  { endblock content }